*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

button[type="button"] {
    position: relative;
    background-color: #222f3e;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    padding: 6px 12px;
    margin-bottom: 32px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #29394b;
}

button[type="button"]:active {
    background-color: #576574;
}

button[type="button"]:not(:last-of-type) {
    margin-right: 16px;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mask-container {
    position: relative;
}

.mask-container>img {
    height: auto;
    width: 768px;
    object-fit: cover;
    object-position: center center;
}

.mask-container>img:nth-of-type(1) {
    position: absolute;
    inset: 0;
    mask-image: url("../img/content/mask.png");
    -webkit-mask-image: url("../img/content/mask.png");
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-position: 100% 0px;
    -webkit-mask-position: 100% 0px;
}

.animation-fill {
    animation: fillColor 1792ms steps(32) forwards;
}

@keyframes fillColor {
    from {
        mask-position: 100% 0px;
        -webkit-mask-position: 100% 0px;
    }

    to {
        mask-position: 0% 0px;
        -webkit-mask-position: 0% 0px;
    }
}